.chatPage{
    flex: 5;
    
}
.chatPageWrapper{
    position: absolute;
    width: -webkit-fill-available;
}
.chatPageTop{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: white;
    padding-top: 1rem;
}

.chatPageAvatar{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
    border: 0.1px solid blue;
    margin-left: 0.5rem;
}
.chatPageName{
    margin-left: 0.5rem;
    font-size: 20px;
    font-weight: 500;
}
.chatPageMain{
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    z-index: -1;
    margin-bottom: 45px;
    bottom: 0;
    margin-top: 5rem;

}
.chatPageBottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    margin-bottom: 1rem;
}
.chatPageInputContainer{
    display: flex;
    align-items: center;
}
.chatPageInput{
    width: 79%;
    height: 35px;
    border-radius:10px;
    border: none;
    background-color: #F0F2F5;
    outline: none;
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.chatPageButtonSentMessage{
    height: 35px;
    border-radius:10px;
    border: none;
    background-color: #0065fc;
    color: white;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}