
.chatPageWrapper{
    display: flex;
}
.chatPageMainContent{
    width: calc(100vw - 57rem);
    margin-bottom: 50px;
    padding: 0 10px;
}


@media only screen and (max-width: 1799px) {
                .chatPage{
                    
                    min-width: 85%;
                }
                .chatPageMainContent{
                    margin-left: 5rem;
                }
                .chatPageTop{
                    display: flex;
                    align-items: center;
                    position: fixed;
                    width: 100%;
                    background-color: white;
                    padding-top: 1rem;
                    top: 3.5rem;
                    left: 15rem;
                }
                .chatPageBottom{
                    position: fixed;
                    bottom: 0;
                    width: calc(100vw - 42%);
                    background-color: white;
                    left: 15rem;
                }
                .chatPageMain{
                    display: flex;
                    flex-direction: column-reverse;
                    position: relative;
                    z-index: -1;
                    margin-bottom: 45px;
                    bottom: 0;
                    margin-top: 10rem;
                    width: 70rem;
                }
                @media only screen and (max-width: 1699px) {
                    .chatPageMain{
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                        z-index: -1;
                        margin-bottom: 45px;
                        bottom: 0;
                        margin-top: 10rem;
                        width: 64rem;
                    }
                }
                
                @media only screen and (max-width: 1599px) {
                    .chatPage{
                        min-width: 70%;
                    }
                    .chatPageMainContent{
                    margin-left: 0rem;
                }
                    .chatPageBottom{
                        position: fixed;
                        bottom: 0;
                        width: calc(100vw - 48%);
                        background-color: white;
                        
                    }
                    .chatPageMain{
                        display: flex;
                        flex-direction: column-reverse;
                        position: relative;
                        z-index: -1;
                        margin-bottom: 45px;
                        bottom: 0;
                        margin-top: 10rem;
                        width: 47rem;
                    }
                    @media only screen and (max-width: 1499px) {
                        .chatPageMain{
                            display: flex;
                            flex-direction: column-reverse;
                            position: relative;
                            z-index: -1;
                            margin-bottom: 45px;
                            bottom: 0;
                            margin-top: 10rem;
                            width: 40rem;
                        }
                        @media only screen and (max-width: 1300px) {
                            .chatPage{       
                                min-width: 65%;
                            }
                            .chatPageBottom{
                                position: fixed;
                                bottom: 0;
                                width: calc(100vw - 53%);
                                background-color: white;
                                left: 16rem;
                            }
                            .chatPageMain{
                                display: flex;
                                flex-direction: column-reverse;
                                position: relative;
                                z-index: -1;
                                margin-bottom: 45px;
                                bottom: 0;
                                margin-top: 10rem;
                                width: 33rem;
                            }
                        @media only screen and (max-width: 1200px) {
                            .chatPage{
                                
                                min-width: 60%;
                            }
                            
                            .chatPageBottom{
                                position: fixed;
                                bottom: 0;
                                width: calc(100vw - 64%);
                                background-color: white;
                                left: 16rem;
                            }
                            .chatPageMain{
                                display: flex;
                                flex-direction: column-reverse;
                                position: relative;
                                z-index: -1;
                                margin-bottom: 45px;
                                bottom: 0;
                                margin-top: 10rem;
                                width: 22rem    ;
                            }   
                        }

                    }
                    }  

                }   
}

@media only screen and (min-width: 1800px) {
    .chatPage{
        
        min-width: 75%;
    }
    .chatPageMain{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        z-index: -1;
        margin-bottom: 45px;
        bottom: 0;
        margin-top: 10rem;
    }
    .chatPageTop{
        display: flex;
        align-items: center;
        position: fixed;
        width: 100%;
        background-color: white;
        padding-top: 1rem;
        top: 3.5rem;
        left: 26rem;
    }
    .chatPageBottom{
        position: fixed;
        bottom: 0;
        width: calc(100vw - 42%);
        background-color: white;
        left: 25rem;
    }
}
.chatPageInfoContent{
    color: black;
    margin-top: 3.5rem;
    min-width: 15%;
    max-width: 20%;
    padding: 0 10px;
    z-index: 2;
    height: calc(100vh - 3.5rem);
    width: 536.69px;
    position: fixed;
    right: 0;
}
.chatPageInfoContentTop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.chatPageAvatarChatInfo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 0.01px solid blue;
    object-fit: contain;
    margin-top: 2rem;
    margin-bottom: 1rem;
}
.chatPageNameChatInfo{
    font-size: 20px;
    font-weight: 500;
    
}
.chatPageOptionRemoveLink{
    text-decoration: none;
    color: black;
}
.chatPageOption{
    font-size: 18px;
    font-weight: 500;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatPageOption:hover{
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
}
.chatPageAvatar{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
    border: 0.1px solid blue;
    margin-left: 0.5rem;
}
.chatPageName{
    margin-left: 0.5rem;
    font-size: 20px;
    font-weight: 500;
}

/* .chatPageBottom{
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    background-color: white;
} */
.chatPageInputContainer{
    display: flex;
    align-items: center;
    width: 100%;
}
.chatPageInput{
    width: 78rem;
    height: 35px;
    border-radius:10px;
    border: none;
    background-color: #F0F2F5;
    outline: none;
    font-size: 18px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.chatPageButtonSentMessage{
    height: 35px;
    border-radius:10px;
    border: none;
    background-color: #0065fc;
    color: white;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}
.layout {
    overflow: hidden!important;
}

.chatPageBottomChangeInput{
    display: flex;
    margin-top: 0.2rem;
}

.chatPageInputContainerSentFile{
    margin-right: 1rem;
    border: 0.001rem solid gray;
    border-radius: 5px;
    width: 37px;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatPagePreviewFilesUpload{
    display: flex;
    justify-content: left;
    overflow-x: auto;
}

.chatPageImg{
    min-width: 10%;
    max-width: 12%;
    max-height: 12%;
    min-height: 10%;
    margin: 0px 5px;
    border-radius: 5px;
    object-fit: cover;
}
.chatPageDescriptEmptyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3.5rem);
}
.chatPageDescriptEmpty{
    margin-top: 3.5rem;
    color: black;
    font-size: 20px;
    font-weight: 500;
}