.layoutAdmin{
    width: 100%;
    position: fixed;
}
.layoutAdminMain{
    display: flex;
    width: 100%;
    height: 100%;
}
.layoutAdminMainContainer{
    margin-top: 4rem;
    width: 100%;
    /* height: 100%; */
    background-color: #ebedf2;
    
}