.sidebarChatTitle{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebarChatItemsList{
    position: relative;
    overflow-y: scroll;
    height: 80vh;
}

.chatItem{
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 10px;
}
.chatItemAvatar{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    object-fit: cover;
}

.chatItemName{
    margin-left: 0.5rem;
    font-size: 19px;
    color: black;
    font-weight: 500;
}
.chatItemChatLasted{
    color: grey;
    font-size: 16px;
    font-weight: 300;
}
.chatItemActive{
    background-color: rgb(209, 209, 209);
}
.sidebarChatCreateChat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(199, 199, 199);
    border-radius: 50px;
}
.sidebarChatCreateChat:hover{
    background-color: rgb(223, 220, 220);
}

@media only screen and (max-width: 1799px) {
                .sidebarChat {
                    position: fixed;
                    top: 4.5rem;
                    width: 14rem;
                }
                @media only screen and (max-width: 1599px) {
                    .sidebarChat {
                                position: fixed;
                                top: 4.5rem;
                                width: 14rem;
                            }
                    @media only screen and (max-width: 1300px) {
                        .sidebarChat {
                                position: fixed;
                                top: 4.5rem;
                                width: 14rem;
                            }
                        @media only screen and (max-width: 1200px) {
                            .sidebarChat {
                                position: fixed;
                                top: 4.5rem;
                                width: 14rem;
                            }
                            
                        }

                    }

}
}

@media only screen and (min-width: 1800px) {
    .sidebarChat {
        position: fixed;
        top: 4.5rem;
        width: 25rem;
    }
}