*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.profile {
    display: flex;
    margin-top: 3rem;
}

.profileRight {
    flex: 9;
}
.profileRightTop{
    margin-bottom: 3rem;
}
.profileCover {
    height: 320px;
    position: relative;
}

.profileCoverImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileUserImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 20rem;
    margin: auto;
    top: 200px;
    border: 3px solid white;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileButtonActionContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    position: absolute;
    top: 22rem;
    right: 5.5rem;
}
.profileButtonAction{
    width: 8rem;
    height: 2.5rem;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.profileActionAddFriend{
    background-color: #1877F2;
    color: white;
}

.profileInfoName {
    font-size: 24px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 30rem;
}

.profileInfoDesc {
    font-weight: 300;
    padding-bottom: 20px;
}

.profileHr{
    width: 100%;
    height: 0.1px;
    background-color: #C8C8C8;
}
.profileFeed{
    padding: 0.5rem 2rem 0px 5rem;
    flex: 2.5;
}
.profileTabBar{
    width: 60rem;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.profileTabBarButton{
    
    display: flex;
    justify-content: space-evenly;
}

.profileTab{
    width: 9rem;
    height: 3rem;
    /* border: 1px solid black; */
    display: flex;
    border-radius: 5px;
}

.profileTab:hover{
    background-color: aliceblue;
}
.profileTab:active{
    background-color: liceblue;
}
.profileTextTab{
    display: flex;
    margin: auto;
    font-size: 22px;
}

.profileTextLink{
    text-decoration: none;
    color: black;
}

.profileRightBottom {
    display: flex;
    margin: auto;
}

.active{
    border-bottom: 0.2rem solid turquoise;

}
.profileViewAvatarDialogContainer{
    width: 37rem;
    height: 37rem;
}

.profileViewAvatarDialog{
   width: 37rem;
   height: 36rem;
   object-fit: contain;
}

.profileOptionAvatar{
    display: flex;
    align-items: center;
}
.profileOptionAvatarText{
    margin-left: 0.6rem;
}
.profileCoverContainer{
    position: relative;
  width: 100%;
  
}

.profileCoverContainer >.profileCoverInput{
    position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(5%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #555;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.profileCoverCancel{
        position: absolute;
  top: 90%;
  left: 85%;
  transform: translate(-265%, -90%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: #555;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}
/* .profileUploadCoverContainer{
    position: absolute;
    top: 90%;
    left: 80%;
    transform: translate(5%, -50%);
     -ms-transform: translate(-50%, -50%); */
/* } */
