.adminHeader{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* position: fixed; */
}
.adminHeaderLogoUnlink{
 text-decoration: none;
}
.adminHeaderLeft{
    display: flex;
    align-items: center;
}
.adminHeaderLogo{
    font-size: 2rem;
    margin-left: 20px;
    font-weight: 900;
    color: #1877f2;
    cursor: pointer;
}
.adminHeaderRight{
    display: flex;
    width: 30%;
    justify-content: right;
    margin-right: 1rem;
    align-items: center;
}
.adminHeaderNotification{
    display: flex;
    align-items: center;
    margin-right: 2rem;
}
.adminHeaderUser{
    display: flex;
    align-items: center;
    background-color: #1877f2;
    padding: 0.5rem;
    border-radius: 50px;
    height: 40px;
    width: 250px;
}
.adminHeaderUser:hover{
    background-color: #4a93f1;
}
.adminHeaderAvatarUser{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    
}
.adminHeaderUserName{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-left: 0.5rem;
}


/* MENU STARTED */
.adminHeaderMenuTop{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}
.adminHeaderMenuItem{
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
   
}
.adminHeaderMenuItemAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-bottom: 1rem;
}
.adminHeaderMenuItemUserName{
    
    margin-left: 0.5rem;
    font-size: 20px;
    font-weight: 500;
}
.adminHeaderMenuItemOptionText{
    margin-left: 2rem;
    font-size: 20px;
    font-weight: 500;
}
