.comment{
    background-color: #F0F2F5;
    width: 100%;
    min-height: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
}

.commentCard{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    justify-content: space-between;
}
.commentUserNameContainer{
    margin-bottom: 0.2rem;
}
.commentUserName{
    font-size: 1.2rem;
    font-weight: 600;
    
}
.commentLinkProfileUser{
    text-decoration: none;
color: black;
}
.commentAvatarContainer{
    width: 55px;
    height: 55px;
}
.commentAvatarProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.commentMain{
    width: 100%;
    
}

.commentBottom{
    margin-left: 2rem;
    width: 15rem;
    margin-bottom: 0.3rem;
    margin-top: -0.2rem;
   
}

.commentBottom{
    display: flex;
    justify-content: space-between;
    
}
.commentSubItem{
    font-weight: 600;
    color: #757576;
}
.commentReply{
    width: 95%;
    margin-left: 5%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}