.cardUser {
    border-radius: 5px 5px 5px 5px;
    width: 12rem;
    height: 20rem;
    margin: auto;
    text-align: center;
    border: 1px solid #BEBDB9;
    background-color: #FFFFFF;
}
.cardUserProfileImg{
    border-radius: 5px 5px 0px 0px;
    width: 12rem;
    height: 10rem;
    max-height: 17rem;
    object-fit: cover;
}
.textName{
    font-size: 18px;
    padding: 10px 0px 0.2rem 0px;
}

.accept{
    padding-top: 0.1rem;  
}
.buttonAccept{
    border-radius: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(34,116,224);;
    text-align: center;
    cursor: pointer;
    width: 11rem;
    font-size: 18px;
}
.cancel{
    padding-top: 5px;  
}

.buttonCancel{
    border-radius: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(58,59,60);
    text-align: center;
    cursor: pointer;
    width: 11rem;
    font-size: 18px;
}

.buttonContact:hover, a:hover {
  opacity: 0.7;
}