.friends {
    flex: 5.5;
    height: 95vh;
    overflow-y: scroll;
    padding: 15px;
}

.titleAndViewMore{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}
.viewMore{
    font-weight: 400;
    font-size: 18px;
}
.friendMain{
    display: flex;
    
}

.friendButtonResendAddFriend{
    border-radius: 5px;
    width: 9rem;
    height: 2.5rem;
    background-color: #1877F2;
    color: white;
    border: 0.2px solid whitesmoke;
    font-size: 1.2rem;
    cursor: pointer;
}

