
.chatPageFileList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: calc(100vh - 22rem);
    overflow-y: auto;
}
.chatPageFileItems{
    width: 182px;
    height: 182px;
    object-fit: contain;
}