
.sidebarVideos{
    margin-top: 5rem;
}

.sidebar::-webkit-scrollbar {
    display: none;
}
@media only screen and (max-width: 1799px) {
    .sidebar {
        flex: 0.6;
        height: calc(100vh - 50px);
        top: 50px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
                @media only screen and (max-width: 1699px) {

                }
                
                @media only screen and (max-width: 1599px) {
                    .sidebar {
                        flex: 0.6;
                        height: calc(100vh - 50px);
                        top: 50px;
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                    @media only screen and (max-width: 1499px) {
                        
                        @media only screen and (max-width: 1300px) {

                        @media only screen and (max-width: 1200px) {
                            
                        }

                    }
                    }  

                }   
}

@media only screen and (min-width: 1800px) {
    .sidebar{
        flex: 1;
    }
}
.sidebar{
    padding: 0rem 1rem;
    height: calc(100vh - -0.5rem);
}
/* ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
}

.sidebarWrapper {
    padding: 20px;
} */

.sidebarList {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow-y: auto;
}

.sidebarListItem {
    display: flex;
    align-items: center;
    height: 50px;
}

.sidebarIcon {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.sidebarButton {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
}

.sidebarHr {
    margin: 20px 0;
}

.sidebarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
    
}

.sidebarListItemText {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.sidebarListItemText:active {
    color: #1877f2;
}

.nameProfile{
    display: flex;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: auto;
    font-size: 20px;

}
.sidebarUserImage{
    width: 2rem;
    height: 2rem;
    object-fit: fill;
    margin-right: 15px;
}

.imageProfile{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.sidebarListItemFriendSuggestion{
    display: flex;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    height: 120px;
    width: 100%;
}

.sidebarListItemProfileName{
    text-align: start;
}

.buttonAction{
    display: flex;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: auto;
   
    
}

.buttonSuggesstionAccept{
    width: 100px;
    border-radius: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(34,116,224);;
    text-align: center;
    cursor: pointer;
    margin-right: 2px;
    z-index: 2;
}

.buttonSuggesstionCancel{
    width: 100px;
    border-radius: 5px;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: rgb(58,59,60);
    text-align: center;
    cursor: pointer;
    margin-left: 2px;
    z-index: 2;

}

.sidebarListItemFriendSuggestion:hover{
    background-color: rgb(241,243,245);
}

.sidebarFriend{
    width: 20rem;
    margin-top: 5rem;
}

.sidebarGroupCreateButton{
    width: 100%;
    height: 40px;
    border: none;
    background-color: #DBE7F2;
    border-radius: 5px;
    color: #1877f2;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.sidebarGroupCreateButton:hover{
    background-color: #cee4f9;
}