.storiesCard{
    display: flex;
    align-items: center;
    margin: 0.5rem 0rem;
    padding: 0.5rem;
    border-radius: 10px;
}
.storiesCardSelect{
    background-color: #dfdfdf;
}
.storiesCard:hover{
    background-color: #dfdfdf;
}

.storiesCardAvatar{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    object-fit: cover;
    border: 0.1px solid grey;
        
}
.storiesCardUserName{
    font-size: 20px;
    font-weight: 500px;
    margin-left: 1rem;
}