.post {
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;

}

.postTop {
    display: flex;
    justify-content: space-between;
}
.postIconOptionPost{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.postIconOptionPost:hover{
    background-color: #F0F2F5;
}
.postIconPrivacy{
    margin-top: 0px;
    margin-bottom: -10px;
    margin-left: 0.5rem;
    color: #808080;
}

.postTopLeft {
    display: flex;
    align-items: center;
    padding-bottom: 0px;
}

.postProfileImg {
    width: 60px;
    height: 60px;
    border-radius: 70%;
    object-fit: cover;
}
.postProfileImgGroup{
     width: 60px;
    height: 60px;
    border-radius: 70%;
    object-fit: cover;
    border-radius: 5px;
}

.postUsername {
    font-size: 20px;
    font-weight: 500;
   
    margin-left: 1rem;
    
}
.postWithText{
    font-weight: 400;
}
.postTagUser{
    font-weight: 500;
}
.postMemberGroup{
    font-size: 12px;
    font-weight: 500;
   
    margin-top: -5px;
    margin-left: 1rem;
}

.postLinkProfileMemberGroup{
    font-weight: 500;
    font-size: 14px;
    color: #7f7e7e;
    text-decoration: none;
}
.postDateGroup{
    margin-top: -7px;
    font-size: 12px;
    margin-left: 0.5rem;
}

.postLinkProfileUser{
text-decoration: none;
color: black;
}

.postPrivacy{
    display: flex;
    justify-content: left;
    margin-top: 0.5rem;
}

.postDate {
    font-size: 12px;
    margin-left: 1rem;
    
}

.postCenter {
    margin: 20px 0;
    
}

.postText{
    width: 100%;
    margin-bottom: 0.5rem;
}

.postViewMore{
    color: blue;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 40rem;
    object-fit: cover;
    
    
}

.postVideo{
    width: 100%;
    height: 100%
}
.postBottomStatistical{
    display:flex ;
    justify-content: space-between;
}
.postTextStatistical{
    display: flex;
    align-items: center;  
}

.postTextDescriptionReactions{
    font-size: 16px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0.2rem;
}
.statisticalComment{
    margin-right: 10px;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postBottomLeft {
    display: flex;
    justify-content: space-between; 
}
.postBottomButton{
    position: relative;
    width: 15rem;
}
.btn {
  border: none;
  background-color: inherit;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  color: #606266;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  border-radius: 15px;
}

.btn:hover {background: #eee;}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter {
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
.postTitle{
    display: flex;
    justify-content: space-around;
}
.dialoPostButtonClose{
    display: flex;
    /* justify-content: end; */
}

.postTitleDialog{
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 600;
    margin: 1rem;
}

.commentBox{
    display: flex;
}

.commentBoxAvatarProfile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.commentBoxInut{
    line-height: 2rem;
    background-color: #F0F2F5;
    border: none;
    border-radius: 15px;
    width: 100%;
    font-size: 1rem;
}
.commentBoxInut:focus{
    outline: none;
}

.postParent{
    border: 0.2px solid #b0b1b4;
    border-radius: 5px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
}
.postWithTextShare{
    font-weight: 400;
}
.postShareWrapper{
    margin: 0.5rem;    
}
.postShareTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.postShareCenter{
    margin: 0px;
}

.postshareDate{
    margin-left: 1rem;
}
.postShareImg{
    margin-top: 0.1rem;
    width: 100%;
    max-height: 45rem;
    object-fit: fill;
}
.shareOptionsMenuItems{
    margin: 0.5rem;
}

.shareOptionsItem{
    display: flex;
    
    width: 15rem;
   
}
.shareOptionsTextContainer{
    margin-left: 0.5rem;
}

.shareOptionsText{
    font-size: 18px;
    font-weight: 500;
}

.dialogButton{
    display: flex;
    width: 3.5rem;
    height: 3rem;
    background-color: #80808051;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.dialogViewImage{
    max-width: 85%;
    max-height: 35rem;
}

.dialogViewMediaFile{
    width: 100%;
    height: 40rem;
    display: flex;
    align-items: center;
}

.postShareUser{
    margin-top: 0.5rem;
}
.postIconReactions{
    width: 25px;
    height: 25px;
}
.postMenuSettingItem{
    display: flex;
    align-items: center;
    width: 20rem;
    font-size: 18px;
    font-weight: 500;
}
.postMenuSettingTextContainer{
    margin-left: 1rem;
}
.postShareIsDeleteContenTitle{
    font-size: 20px;
    font-weight: 500;
}
.postShareIsDeleteContentDescription{
    margin-top: 0.5rem;
}
.postMediaFileContainerItemList{
    display: flex;
    flex-wrap: wrap;
}
.postMediFileItemsList{
    margin: 0.05rem;
    width: 348px;
    height: 350px;
    object-fit: cover;
}
.postMediFileCountItem{
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-size: 50px;
    font-weight: 500;
}
.postMediaFileCountItemsList{
    position: absolute;
    background-color: #262525bd;
    width: 348px;
    height: 350px;
    
}
.postMediaFileItemsListCount{
    position: relative;
}

.postParentMediaFileContainerItemList{
    display: flex;
    flex-wrap: wrap;
}
.postParentMediFileItemsList{
    margin: 0.05rem;
    width: 339px;
    height: 339px;
    object-fit: cover;
}
.postParentMediFileCountItem{
    position: absolute;
    top: 45%;
    left: 40%;
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.postParentMediaFileCountItemsList{
    position: absolute;
    background-color: #262525bd;
    width: 339px;
    height: 339px;
    
}
.postParentMediaFileItemsListCount{
    position: relative;
}
.postMenuSettingIcon{
    display: flex;
    align-items: center;
}