.adminDashboard{
    width: 100%;
}
.adminDashboardIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1877f2;
    width: 40px;
    height: 40px;
    border-radius: 10px;
}
.adminDashboardWrapper{
    padding: 1rem;
}
.adminDashboardBreadCrumb{
    display: flex;
    align-items: center;
}
.adminDashboardIcon{
    color: white;
}
.adminDashboardBreadCrumbTitle{
    font-size: 20px;
    font-weight: 500;
    color: black;
    margin-left: 1rem;
}
.adminDashboardStatistics{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.gradientDanger{
    background: linear-gradient(90deg,#ffbf96,#fe7096);
}
.gradientInfo{
    background: linear-gradient(90deg,#90caf9,#047edf 99%);
}
.gradientSuccess{
    background: linear-gradient(90deg,#84d9d2,#07cdae);
}
.adminDashboardStatisticsCard{
    border-radius: 10px;
    width: 25%;
    height: 10rem;
    padding: 2rem;
}
.adminDashboardStatisticsCardTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminDashboardStatisticsName{
    font-size: 20px;
    font-weight: 500;
    color: white;
}
.adminDashboardStatisticsCardBottom{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.adminDashboardStatisticsTotal{
    font-size: 40px;
    font-weight: 500;
    color: white;
}