.sidebarGroupCard {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 80px;
    border-radius: 5px;
    
}
.sidebarGroupContainer{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.sidebarGroupCard:hover{
    background-color: #D8DADF;

}

.sidebarFriendImg {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
}
.sidebarFriendName{
    font-size: 16px;
    font-weight: 500;
}